@import "tailwindcss";

@layer base {
  :root {
    --color-primary: 255, 215, 0;
    --color-secondary: 147, 51, 234;
    --color-accent: 236, 72, 153;
    --color-background: 17, 24, 39;
    --color-text: 243, 244, 246;
  }

  body {
    background-color: rgb(17 24 39);
    color: rgb(243 244 246);
    font-family: 'Cormorant Garamond', serif;
  }
}

